// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$link-color: $gray-900;

.primary {
    fill: $gray-500;
}

.secondary {
    fill: $gray-700;
}

[v-cloak] {
    display: none;
}

// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap';
