@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito:300,400,600,700,800,900&display=swap');
@import 'variables';

.primary {
    fill: $gray-500;
}

.secondary {
    fill: $gray-700;
}

.font-serif {
    font-family: $font-family-serif;
}

[v-cloak] {
    display: none;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap';
