@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito:300,400,600,700,800,900&display=swap');
@import 'variables';

.primary {
    fill: $gray-500;
}

.secondary {
    fill: $gray-700;
}

.fill-success-primary {
    fill: $green;
    fill-opacity: .4;
}

.fill-success-secondary {
    fill: $green;
    fill-opacity: 1;
}

.fill-warning-primary {
    fill: $yellow;
    fill-opacity: .6;
}

.fill-warning-secondary {
    fill: darken($yellow, 30%);
    fill-opacity: 1;
}

.fill-danger-primary {
    fill: $red;
    fill-opacity: .4;
}

.fill-danger-secondary {
    fill: $red;
    fill-opacity: 1;
}

.font-serif {
    font-family: $font-family-serif;
}

[v-cloak] {
    display: none;
}

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap';
